[2018-04-04 23:04] caron opened #2 "Support Arnold 5.1.0.0"
Lots of new stuff to support...

https://support.solidangle.com/display/A5ARP/5.1.0.0

First ticket to start tracking these changes.

[2018-04-05 13:06] JenusL commented on #2
That is indeed a lot of new stuff. Awesome!
New MtoA is just released as well with a major version bump to v3.0.0.
I hope I'll have some time to dig in to this soon.

[2018-04-06 10:41] JenusL opened #3 "Please create devel branch and tag releases"
Could there be a release created so we can have easy references to different states in the master branch.
It doesn't have to include binaries or any other files just needs to be a tag really.
The first tag (4.1.0) doesn't need any information at all but for later versions it would be good to have release notes.

[2018-04-08 10:40] JenusL commented on #2
I started with this yesterday and you can follow along here: [JenusL/sitoa/devel](https://github.com/JenusL/sitoa/tree/devel)

[2018-04-08 10:44] kikou commented on #2
Nice! Please break you changes down in smaller chunks and create pull requests that we can easily review and accept.

[2018-04-08 11:03] JenusL commented on #2
@kikou I'm trying to :)

[2018-04-09 20:48] JenusL commented on #2
So I've made a start with PR #4 #5 and #6.
This passes the testsuite so it should be safe to use.
However, there are right now 3 warnings when you render.
`// WARNING : [arnold] unable to load dynamic library <my_local_git_path>\Softimage_2015_SP2\Addons\SItoA\Application\Plugins\bin\nt-x86-64\optix_denoiser.dll: The specified module could not be found.
//// WARNING : [arnold] cannot declare const

[2018-04-17 21:09] JenusL commented on #2
So I just put up #7 which fixes the frame and fps warning and adds some new features including Adaptive AA.
I don't get why the optix_denoiser.dll warning exists because the DLL is in the correct folder. Will open a Issue about that.
With PR 4, 5, 6 and 7 I consider the main work for Arnold 5.1.0 done. Now it's just adding new features as we see fit.

[2018-04-17 21:11] JenusL commented on #3
Would also be really good the create a `devel` branch that can merge the Pull Requests and from there we could push new releases to `master`.
This will provide proper git flow.

[2018-04-17 21:24] JenusL opened #8 "optix_denoiser.dll not found"
SItoA shows the following warning when rendering with Arnold 5.1.0.0

[code]
This doesn't make sense because the dll-file is clearly there in the folder with the rest of the core files.
I don't know if it's a problem on Linux as well.
The warning is harmless but annoying for now.
I'm guessing that the Optix Denoiser wouldn't work if it was implemented now.

[2018-04-19 11:25] sjannuz commented on #3
I tagged the initial master as 4.1 (the corresponding released version), and opened a develop branch

[2018-04-19 11:31] sjannuz commented on #3
@JenusL , can you retarget your pull requests to be merged into develop ?

[2018-04-19 12:06] JenusL commented on #3
@sjannuz Done! All PR are now rebased to the develop branch.

[2018-04-19 13:11] kikou commented on #3
Why do we need a develop branch?

On Thu, Apr 19, 2018 at 2:06 PM, Jens Lindgren <notifications@github.com>
wrote:

[2018-04-19 13:43] JenusL commented on #3
@kikou It's just easier to test all the PRs together there first and when we're at a certain stage we create a PR from dev to master to create a new release. This way master is always deployable and stable.
It's like a git-flow / GitHub Flow hybrid.

[2018-04-19 13:53] #3 closed

[2018-04-19 13:58] sjannuz commented on #8
In Max, we had to add the plugin's directory to PATH, I need to check this.

[2018-04-19 14:13] JenusL commented on #2
So with 5.1.0.0 "support" done....
What new features should be added? What's realistic to pull of?
I know AOV Shaders have already been discussed on mailing list and there's a ticket in the trac so that should be pretty easy to add. Would be nice if more people would chime in and create issues of features they would like to be added.

[2018-04-19 14:44] sjannuz commented on #2
Right, AOV shaders were the main request. The consensus seemed to be to abuse the output shaders port.
For denoising, I would wait a few weeks, to see if core simplifies the workflows.
Biggest things missing are the alembic procedural and the operators, the latter needing some thinking.

[2018-04-19 14:56] JenusL opened #9 "Improve auto UI generation"
Auto UI generation is made for all native Arnold shaders by the help of a metadata file called `arnold_shaders.mtd`. Some features would be good do add to that auto generation:

**Tabs**
Auto UI generation currently lacks the function to create Tabs.
This would come in handy if we want to implement ID AOVs.

**Disabling**
The arnold_shaders.mtd has a lot of disable expressions like
`soft.disable_w

[2018-04-19 14:58] kikou commented on #3
@JenusL I get that, but another way is to have a master that is always deployable. If you want to experiment, you can use a feature branch. I'm just trying to keep it simple and stable.

[2018-04-19 15:02] JenusL opened #10 "Add ID AOVs to supported shaders"
In Arnold 5.1.0 ID AOVs was added to standard_surface and standard_hair.
I didn't implement this as I felt that it would take up too much space on the shader PPG. The proper thing would be to add these settings in it's own tab in the PPG.
So I decided to not implement this until the tabs part of #9 is supported.

[2018-04-19 15:12] JenusL opened #11 "Test 0161 fails (false negative)"
Test 0161 (Implementing mesh lights) currently fails after Arnold version 5.0.1 because of the new improved sampling of mesh lights.
This is just a false negative and the test needs to be updated.

[2018-04-19 15:34] sjannuz commented on #2
The render control API should not conflict with any of the other features. However, for now we have not included it in the other plugins, mostly for not having had the time to test it thoroughly.

[2018-04-19 16:02] JenusL commented on #3
@kikou Yeah you can do it both ways. I just find this way to be a little bit more flexible on projects like this.
Think of the develop branch as being named `feat/a5.1.0` instead and my smaller PRs are merged into that. We have the benefit of be able to gather several PRs in to develop branch. And if we were to create a PR called SItoA 5.0.0 from develop to master right now, all of the commits wou

[2018-04-19 16:08] JenusL opened #13 "Add AOV shaders"
This has been discussed in the mailing list and there's an old trac ticket for it as well.
I think the conclusion was to add it to the Output Shaders.
This will add Cryptomatte support.

[2018-04-19 16:11] JenusL commented on #3
Maybe we should remove the `develop` branch and create a new one that's called `release-candidate` or something like that instead. I think that's a better fitting name for what we want to use it for.
What do you think?

[2018-04-19 20:41] JenusL commented on #8
I just added the location to PATH and the warning is gone. So seems to be the same as in Max then.
Any chance this could be fixed in the core?

[2018-07-13 07:00] caron commented on #13
I started added support for AOV Shaders and its a bit tricky...

Is it true only one background and one volume shader connection is supported?

I started using the existing 'UpdateShader' and 'CNodeSetter::SetPointer' functions used for the background and volume shaders but I am not sure they support AtArrays. Whenever I use those functions I don't get the correct result in the .ass file export. B

[2018-07-13 10:34] kikou commented on #13
Yes

I believe both ways are supported in the .ass syntax (single element array vs single value)

[2018-07-13 15:05] caron commented on #13
Thanks, both are using the API to write the ass file, not sure why the result would be different.

I will try writing multiple items and see if it switches

[2018-07-15 02:19] caron commented on #13
OK, I believe I have it working...

[code]
I still need to test the output of the Cryptomatte just to be sure all is working well. But to test the AOV shaders generically I added a noise shader connected to an aov_write_rgb shader and the output looked good to me. but still two things to discuss about implementation...

https://github.com/caron/sitoa/commit/a74b867109ccefc896a46de5997cde2b2e5271ca

[2018-07-15 08:45] JenusL commented on #13
I think it looks good. Just two notes / questions:
1. Can't it be siShaderFamilyOutput instead of siShaderFamilyTexture? Or is the output type something completely different? I'm on vacation and can't test for myself.
2. I see both Background and Volume pass shader stack have a suffix of ".Item". Do we need a suffix on the output shader stack as well?

@sjannuz is probably the best person to answe

[2018-07-16 16:56] meanleybh commented on #13
@caron , I can confirm here that our own build of sitoa-4.1.x writes out the aov_shaders entry as a single value as you indicated above (rather than an array). We aren't really using it anymore, but it worked fine for us in production when we were.

[2018-07-16 18:12] caron commented on #13
@meanleybh , Thanks Brian! Ya, if you only want to use it for cryptomatte (most users) then a single shader is fine. It's not hard to add the support for multiple aov_shaders and it's nice to add all your various utility stuff here instead of on each shader or as a separate pass.

@JenusL I looked quickly at the siShaderFamilyOutput in the docs and it shows its only for camera shaders? I will have

[2018-07-17 06:15] caron commented on #13
OK, so `siShaderFamilyOutput` seems to work fine. I also did some work to protect against empty items in the shader stack. Running testsuite now and should be ready for others to try.

[2018-07-20 03:23] caron commented on #13
@JenusL already ran into test 161 failing... will ignore for now #11

[2018-07-20 21:32] JenusL commented on #13
@caron I also had problems with noicon.pic when I ran the tests at first. I think it was just the Arnold texture path that wasn't set to the correct Softimage path or something because of different Softimage versions. And I can't remember how I fixed it either…
I'm still on vacation so can't test anything for at least another week.

[2018-07-20 21:36] caron commented on #13
@JenusL no worries, enjoy your time off!

[2018-07-27 06:30] caron commented on #9
I started to work on this and I am wondering if we agree this is the right place to put it...

[code]

Should look like this...
[code]
Thoughts?

[2018-07-27 22:05] caron opened #14 "Add simple UI for noice denoiser"
We should have some sort of UI for the noice denoiser for non-technical users.

[2018-07-31 05:27] caron commented on #9
So if you do this...

[code]

You will get a first tab named 'mynode' with param1 and param2 on it. Then a second tab named 'My Tab' with param3 and param4 on it. This is just Softimage PPG's default behavior I believe. Nothing in the SItoA code is deciding this.

[2018-07-31 06:29] caron commented on #9
So I wanted to brainstorm about implementing this parameter disabling PPGLogic in mtd files. So I think we have to use the PutLogic method of the PPGLayout class...

[PPGLayout::PutLogic](http://download.autodesk.com/global/docs/softimage2013/en_us/sdkguide/index.html?url=si_cpp/classXSI_1_1PPGLayout.html,topicNumber=si_cpp_classXSI_1_1PPGLayout_html,hash=a0cfea66dffee15f64fdc4add17f004ce)

@sjann

[2018-08-01 23:13] caron commented on #14
Going to just copy this as closely as possible...

https://support.solidangle.com/display/A5AFMUG/Arnold+Denoiser

[2018-08-19 21:10] JenusL opened #16 "Add Arnold 5.2 features"
Again lots of new stuff!
https://support.solidangle.com/display/A5ARP/5.2.0.0

[2018-08-20 12:35] sjannuz commented on #9
Hi Steven. The metadata file contains more than what SItoA handles, simply because it was common to the other plugins (HtoA was the first fetching the logic from the mtd). Then I did not have the time to include it in SItoA, nor any exact plan about how to handle it in the code.

[2018-08-20 12:39] sjannuz commented on #13
Merged. Sorry for the delay. Thankyou !

[2018-08-20 22:38] #13 closed

[2018-08-20 22:39] JenusL commented on #16
I've started to work on this now.
https://github.com/JenusL/sitoa/tree/feat/a5.2.0-main

[2018-08-21 01:07] JenusL commented on #9
@caron Could you create a PR with the just the tab-stuff and we save the disabling for later?

[2018-08-21 01:28] caron commented on #9
I can once I return from vacationing next week.

[2018-08-21 16:07] JenusL commented on #16
So I've implemented most stuff now except the uv_camera. I will create a new ticket for that.

[2018-08-21 20:48] JenusL opened #18 "Support uv_camera"
Arnold 5.2 has a new camera for baking textures called uv_camera.
We should add that to SItoA.

[2018-08-22 09:17] sjannuz commented on #18
With care. uv_camera it's not like the other ones and should not be exposed as such. It should be leveraged in a render-to-texture utility, as in the other DCCs.

[2018-08-22 09:45] JenusL commented on #18
Ok thanks for the info. Will hold off on this one then.

[2018-08-22 09:49] #16 closed

[2018-08-22 10:46] JenusL opened #19 "Operators"
Arnold 5.1 added something called Operators.
Is this something we need and if so, how could it be implemented?

[2018-08-22 10:52] JenusL opened #20 "Alembic procedural"
Arnold 5.1 includes an alembic procedural.
We need to check if this already works with the Procedural property or if any changes needs to be made.

[2018-08-22 10:54] JenusL opened #21 "OptiX support"
Let's investigate if it's possible to add OptiX denoiser.

[2018-08-22 11:06] JenusL commented on #14
There's also the issue of the variance AOV and filter required to denoise an image with noice.
See MtoA ticket https://trac.solidangle.com/mtoa/ticket/3387

[2018-08-22 12:18] JenusL commented on #2
I created separate tickets for Arnold 5.1 features that hasn't been worked on yet.
So I think we can close this one now.

[2018-08-27 22:40] caron commented on #2
Closing issue so we can track 5.1 and 5.2 features one by one

[2018-08-27 22:40] #2 closed

[2018-08-27 22:46] caron commented on #9
@sjannuz  Thanks for the feedback. I want to be sure .mtd file made for SItoA works with other plugins and vice-versa. Is there any .mtd files from other plugins I can use to test?

[2018-08-28 00:34] caron commented on #9
Thanks, @JenusL but I don't see any 'disable_when' examples. But looking closer now the ```soft.``` prefix will make it specific to SItoA and I won't need to worry about supporting another one.

[2018-08-28 07:48] JenusL opened #24 "Add pick button for lights in Toon shader"
We should add a pick button and handle object name translation so that we can easily pick lights in the Toon shader.
@sjannuz Had this to say about it:

[2018-08-28 08:28] JenusL commented on #9
Yeah the `soft.` prefix will make it safe so use that.

[2018-08-29 14:34] sjannuz commented on #24
Here is the mentioned change happened for camera_projection, in ParamsCommon.cpp

![camera_projection](https://user-images.githubusercontent.com/18032216/44794665-36157a00-aba9-11e8-9910-851a1577dbb6.jpg)

[2018-08-29 15:43] JenusL commented on #10
Will start working on this now...

[2018-08-30 09:29] JenusL commented on #24
I started to work on this yesterday and I'm done with the name translation.
I will investigate what Pick button solution to use and add that before I create a PR.

[2018-08-30 09:34] JenusL commented on #8
I started to look in to this and it's a bit tricky if we want it to work for both Win and Linux.
Does anyone know if we even get the warning on Linux?

[2018-08-30 14:39] sjannuz commented on #24
IIRC, what automagically adds the Pick button in ShaderDef.cpp is
`
      case AI_TYPE_NODE:
         return siShaderDataTypeReference;
`
This works for node parameters. You can probably add an exception for the toon lights, that are strings instead, and use that return type for them, instead of siShaderDataTypeString.

[2018-08-30 20:45] caron commented on #8
I haven't tested it on Linux so I can't help there. I think we should fix Windows and wait for the community to show us it isn't working on Linux.

[2018-08-30 21:00] JenusL commented on #8
I agree. Lets put it inside an ifdef so we don't break Linux.

[2018-08-30 21:02] #10 closed

[2018-09-03 23:15] JenusL commented on #8
I've started to work on this now so I will put up a PR tomorrow.

[2018-09-04 19:56] #24 closed

[2018-09-04 19:56] #11 closed

[2018-09-04 21:07] caron commented on #9
I will make sure to work on top of #26 when supporting 'disabling metadata'.

[2018-09-04 23:59] JenusL opened #30 "Toon stylized highlights doesn't work all the time"
While doing #26 I noticed that the stylized highlights in the Toon shader doesn't render properly every time. I haven't been able to reproduce it in kick so it seems like it only happens in Softimage.
This bug will cause test_0267 to fail randomly.

[2018-09-05 09:10] JenusL opened #31 "Add support for Color Managers"
Since Softimage will never be updated to use OCIO we should at least add it to SItoA.
Let's expose `options.color_manager` in the render settings and add UI for `color_manager_ocio`.
[https://support.solidangle.com/display/A5NodeRef/color+managers](https://support.solidangle.com/display/A5NodeRef/color+managers)

[2018-09-05 20:44] caron commented on #31
color temp on the camera?

[2018-09-05 21:59] JenusL commented on #31
Oops… I really thought that existed by now but apparently not.
How are people using physical sky and temperature on lights/volumes and stuff like that in other packages?
There has to be some sort of white balance on the camera right?

[2018-09-06 17:07] caron commented on #31
It makes sense adding color temp controls to the camera if those controls exist in Arnold. But I didn't think Arnold camera's had a color temp control.

[2018-09-06 20:28] JenusL commented on #31
Yeah I thought those controls did exist but apparently not, which surprises me.
Anyway, with a color manager we can at least change rendering color space. That means spectral calculations that `physical_sky` and `blackbody` uses will be correct.
Our studio has been running all rendering and comp in ACEScg for several years now and be able to do that in SItoA as well would be really nice.

[2018-09-07 23:12] JenusL opened #32 "Add support for LPEs"
In Arnold 5 you can create custom AOVs with Light Path Expressions.
We should create an interface for doing so.
https://support.solidangle.com/display/A5ARP/Light+Path+Expression+AOVs

[2018-09-07 23:12] #8 closed

[2018-09-12 04:57] caron opened #33 "closure shader isn't inspectable"
So I haven't got to use SItoA 4.x much at all so I only just noticed this issue. When running 'Inspect Material' or clicking on the icon of a Material in the explorer an empty property page shows. Maybe we need to show the closure port in the UI so you can at least click on the port to jump to the Standard Surface shader.

Thoughts?

[2018-09-12 05:59] caron opened #34 "add required variance aovs for denoising (noice)"
Add the required AOVs for denoising with noice. We don't have a standard interface in Softimage for controlling the filter per AOV. The easiest solution would be to handle it automatically behind the scenes when a check box in render options is turned on, similar to how MtoA is doing this.

Thoughts?

[2018-09-12 08:49] JenusL commented on #34
A check box sounds good to me. From the Maya docs:

I guess they forgot to say in the docs that variance aov is also outputed :)
I was planning to make a new tab in render settings named AOVs when adding LPEs (#32). We could have these settings there as well.
Looking how MtoA has named things, this is what I think.
- New tab "AOVs"
- New group "Arnold Denoiser"
- New checkbox "Output Denoising AOV

[2018-09-12 08:50] JenusL commented on #33
Best would be to make it show the actual material instead of the closure node. Maybe it's possible with some callback or something.

[2018-09-12 17:43] caron commented on #33
Maybe a callback on the closure node which on inspection it always just inspects what's connected to the closure port. I need to test this.

[2018-09-12 18:33] caron commented on #34
I am going to think about it more tonight, I want to review the other plugins a bit more.

According to the documentation for MtoA, that one check box does it all. I can see staying in sync with other plugins would be nice but I could also see a more 1 to 1 implementation with Arnold core where we support adding channels to the pass options which just have a custom token ([Variance]) or key word "

[2018-09-13 21:57] caron commented on #34
OK, so MAXtoA and C4DtoA both have 'AOVs' and 'Denoiser' tabs. Maya has the 'AOVs' only tab and puts denoising controls in 'System' or 'AOVs' (controlling Optix or noice respectively). C4DtoA has Optix denoising control in 'System' like Maya but MAXtoA has all denoising in the 'Denoiser' tab.

That's a bit all over the place so, I am not worried about matching any other plugin exactly. I like the

[2018-09-17 14:33] JenusL commented on #30
I see that Arnold 5.2.0.1 has this in the release notes

I will try the new core and see if this fixes the random issues I had with the Toon shader.

[2018-09-17 20:34] JenusL commented on #30
I'm afraid the issue is still there so I'm keeping this open.

[2018-09-19 10:22] JenusL opened #36 "Error: function ArnoldPassShaders_Init is missing"
Just pressing the Edit button under Pass on the Render toolbar gives this message:
[code]
I guess this is a function that Softimage expects to be there for any renderer.
We should probably implement it and add some Arnold shaders to that menu. Like cryptomatte and some background shaders maybe.

[2018-09-20 04:29] caron commented on #36
I think this is just the 'Arnold Pass Shaders' submenu that used to have the Volume Scattering, Physical Sky, and Background shaders.

[2018-09-20 04:32] caron commented on #36
This is what is used to look like...

[code]

[2018-09-20 10:56] JenusL opened #38 "Small issues with Pass Shaders menu"
I was trying out #37 and noticed a bug.
- fog is added to Environment when it in fact should be added to Volume.

This is just personal opinion, but I think we should remove physical_sky from the menu since Arnold 5 can render physical_sky directly from the skydome_light now. It's actually preferred to do so. From Arnold 5 release notes: _"Skydome lights are now preferred over background shaders,

[2018-09-20 11:03] JenusL commented on #38
physical_sky should probably be removed from the Material -> Arnold Shaders menu as well.

[2018-09-20 11:11] JenusL commented on #38
Or even better, it should be added to a selected light. I'm leaving it in the Arnold Shaders menu for now.

[2018-09-22 04:33] caron commented on #33
@JenusL , can you check this commit I have in my fork? Not sure if you have added me as a remote? If so you should see the new branch otherwise I could send you a pull request.

This actually helps me work out how the ongoing feat/ui-gen-improvements can be done with PutLogic. Let me know if there are any code style issues here too, multi-line strings injecting JScript in C++...

[2018-09-24 10:29] JenusL commented on #33
@caron I think it looks good! I would just respect the JS coding styles so that if you print the Logic in Softimage, it looks nice. Here's the updated Logic with new lines and indentation:
[code]

[2018-09-24 17:30] caron commented on #33
Did you test inspecting the node in various ways? I tested in the explorer, clicking on the material icon on the object, the closure node icon itself. I also tested right click 'Inspect Material...' in the viewport and lastly double clicking on the node in the Render Tree.

Not sure if there are others which I am missing...

[2018-09-24 19:44] JenusL commented on #33
Yeah I tried inspecting it in as many ways as I could think of and I didn't have any problems. The only thing I can think is that this would be nice to have in the other shaders that only has closures as inputs (the PPG is empty). `passthrough` and `ray_switch_shader` comes to mind.
Or do you think that we want those empty PPGs to pop up, so that we know they're there?
You decide :)

[2018-09-25 06:12] caron commented on #33
hmm, I have never seen the `passthrough` shader before... Ideally, we could have the closure port type show similar to the color port with a connector button so you can walk the graph through the PPG but block the closure type from allowing color types connect to it, I will have to research this. I will open another ticket once I figure out what we can actually do with custom types in the render t

[2018-09-25 08:38] JenusL commented on #33
I've used both shaders. Passthrough is pretty much the same as the one that's in Softimage (Color4_Passthrough). It's mainly used to connect aov_write_* shaders in to the eval ports.
I agree that it would be good to see the connection in the PPG but this is a very minor issue. I suggest we spend some time on other things first.

[2018-09-25 21:41] JenusL commented on #31
I think I'm gonna start working on this next.

[2018-09-28 07:45] JenusL commented on #31
So I started to work on this last night and I'm halfway there but I have some question that maybe @sjannuz could answer?
Is there anything special I need to do when exporting a node that doesn't have a Softimage counterpart?Does it has to be exported to the node map in order to export or is calling
`AtNode* var = AiNode("color_manager_ocio")` simply enough to export it?

I had a look at MtoA and i

[2018-09-30 23:19] JenusL commented on #31
I've figured everything out now so just have a bunch of cleanup before this is done.
But I will be goin to New York for a commercial shoot so I'll have to finish this when I get back in a week.

[2018-10-01 04:42] caron commented on #31
no rush from me, we are probably the only ones that care about this project anymore :P

[2018-10-01 08:33] JenusL commented on #31
Haha yeah that's probably true :)

[2018-10-03 18:07] specularity commented on #31
+1 future user 👍 . Thans for keeping sitoa alive!

[2018-10-03 18:32] JenusL commented on #31
Whoho!! Thanks RC!

[2018-10-09 06:30] caron commented on #33
#40 has been merged

[2018-10-09 06:30] #33 closed

[2018-10-11 18:32] caron commented on #36
@JenusL I think we can close this?

[2018-10-11 19:27] #36 closed

[2018-10-11 19:28] #38 closed

[2018-10-11 19:32] JenusL commented on #36
@caron Closed now. Was waiting for tickets to auto-close when pulled to master branch because I thought that would have happened by now.

[2018-10-11 22:57] caron commented on #36
I didn't know they got auto closed when merged with master... I actually assumed they would get auto closed when they got merged with develop

[2018-10-12 08:37] JenusL opened #42 "Camera screen_window_min/max is not exported"
Just before SItoA was open sourced I submitted a bug that the Rotoscope Subpixel Zoom wasn't working. This never made it to the trac so no ticket exist for it there. I decided to have a look and found the problem.
Inspecting `persp_camera` with kick shows that the parameters are arrays:
[code]
SItoA uses CNodeSetter which doesn't support setting arrays:
[code]
As we all know this fails silently in

[2018-10-12 09:07] sjannuz commented on #42
Correct, the common setter wrapper skips arrays. I think I had a good reason for that, but I can't remember anymore ;(

[2018-10-12 11:34] JenusL commented on #42
I think I will add a LogMsg in SetCommon when it fails. That way we will see directly what parameters are arrays. Think that's a good idea?
What I don't understand is why this parameter on the camera is an array.
@sjannuz Could you check with the core team why this is an array? When could it possibly have more than one value?

[2018-10-12 14:59] JenusL commented on #42
Hmm.. maybe it's just for motion blur / time sample purposes... I see a lot of other parameters are also arrays on cameras.

[2018-10-12 15:17] sjannuz commented on #42
Yes, it's for motion blur, which is supported in the Sony branch. Core decided to adopt the array type to conform and exchange scenes, but motion blur remained unsupported.

[2018-10-19 00:01] JenusL commented on #21
I just tried to render with OptiX inside Softimage and it just works! I just added `denoise_optix_filter` to the available filters and done. But it doesn't update between every AA pass, only when the image is done after the final AA level.
I also tried to disable all "Progressive Refinement" levels and put `enable_progressive_render true` in user options instead to enable REAL progressive refineme

[2018-10-19 08:51] sjannuz commented on #30
Currently there is no open ticket about that. I'll try to reproduce it myself as well. Have you already tried things like using a single thread and such ?

[2018-10-19 11:14] JenusL commented on #30
I hadn't tried a single thread so I just did, and I had the same result.
Just open up test 0267 and hit the Preview button. Refresh that several times and it's like a 50/50 chance that the stylized highlights will render correctly. I noticed that Texture search path is set on that test... So it might fail to find the texture on your machine. Will look in to that.

[2018-10-19 12:11] JenusL commented on #30
I just tried `options.parallel_node_init false` with both a single thread and multi-thread but still have the same issue.

[2018-10-19 23:01] JenusL commented on #21
Hmm.. I'm scratching my head on this one... Would be really nice to see a reference implementation of a OptiX display driver that's updating on each IPR.
@sjannuz How are you doing it in ARV in Maya? Or are all plugins using a separate AOV for the denoising that only updates after image is completely done or on each IPR?

[2018-10-21 20:10] JenusL commented on #21
So I added initial support for OptiX in #45
It works really well but it lacks updating on every IPR / iteration of Progressive right now.

[2018-10-21 21:33] JenusL commented on #30
Issue still there with Arnold 5.2.1.0

[2018-10-22 10:54] sjannuz commented on #30
I just heard from the core team that they also have a failing case, and they're working on fixing it.

[2018-10-23 18:28] JenusL opened #48 "Support OptiX denoising in display driver"
Basic support for OptiX denoising was added in #45. But one thing that doesn't work properly is the display driver.
In MAXtoA there's a checkbox in Denoise tab to denoise the Beauty. We should add that as well. That way we don't need to add a RGBA_denoise or Main_denoise AOV and switch to that in the render region.
Personally I would prefer if that checkbox only affected region renders as well so

[2018-10-23 18:30] JenusL commented on #21
Created a new ticket for the OptiX denoising in display driver #48

[2018-10-31 22:09] JenusL commented on #48
I've been occupied with Red Dead Redemption 2 for a few nights now but took a pause in the gaming and decided to have a look at this instead. Making the display driver take more than one output with `AiDriverInitialize(node, true);` makes this just work. It's amazing how robust this API is! I will clean up a bit and add the Denoise tab before I create a PR.

[2018-11-11 01:55] JenusL opened #51 "Dependency Graph"
Arnold 5.1 introduced a dependency graph:

While browsing through some code in MtoA I noticed that it's there and always enabled in interactive mode:
[code]
Would it hurt to add it to SItoA as well?

I searched for a ticket in MtoA to explain it a little bit more and I found ticket [#3260](https://trac.solidangle.com/mtoa/ticket/3260)
Does SItoA, like MtoA, have a lot of that code that could be re

[2018-12-03 21:10] JenusL commented on #34
@caron Have you had the time to do anything on this??
If not, do you mind if I start working on it?

[2018-12-03 21:11] #42 closed

[2018-12-04 16:44] JenusL commented on #14
The UI for noice is written in Python in MtoA. Do anyone see a problem if I also write it in Python so that most of the code can be copied, or should I rewrite it in JS like the other SItoA helpers?

[2018-12-05 17:39] sjannuz commented on #14
No problem, thankyou

[2018-12-10 00:20] JenusL commented on #34
Ok so I'm almost done writing a first version of the "Output Denoising AOVs" feature.
I opted for the way MAXtoA does it, but to be honest I feel both ways that MAXtoA and MtoA does it isn't very good.
Here's a rundown of how (I think) they works and their pros and cons.

**MAXtoA**
Creates a new driver_exr with a suffix: <output_file_name>_Noice_Input.exr
In this driver it puts RGBA, N, Z, diffus

[2018-12-19 00:09] JenusL commented on #30
Arnold 5.2.2.0 is out and has the same fix listed again:

But I'm sad to say that it still doesn't work in SItoA.
@sjannuz Could you check with the core team?

[2019-01-07 09:53] sjannuz commented on #51
Adding the option does not hurt. Yes, there is quite some code in SItoA handling dependencies. It's a delicate part, of course, and I would not touch it for now.

[2019-01-10 12:18] JenusL opened #56 "Gobo scale and wrap warnings"
I get an warning when using the Gobo filter:
[code]

This should have been fixed in SItoA 4.0 because the release notes had it as an incompatible change:

But it must have slipped through somehow.

[2019-01-14 23:48] JenusL opened #58 "Expose the light blocker shader input"
This is just a copy of the trac ticket 1908 that never got implemented.

[2019-01-27 15:15] JenusL commented on #19
So I've been trying out Operators in 3ds Max a bit and it would be nice to have them in SItoA as well.
I would like to avoid building a new Graph Editor UI like what was done in MAXtoA. So I propose we do a special node like the `closure` node. Let's call it `operators`. This node can only be connected to Output pass shaders, just like AOV-shaders.
If that `operators` node is connected. It will no

[2019-01-29 21:46] caron commented on #14
Looks like this can be closed now with the merging of #53 and thanks @sjannuz for merging #29 to master

[2019-01-29 21:46] #14 closed

[2019-01-29 23:07] #51 closed

[2019-01-29 23:10] #56 closed

[2019-01-29 23:11] #31 closed

[2019-01-29 23:17] JenusL commented on #34
@caron You can close this one as well as this was added in #53

[2019-01-30 00:56] caron commented on #34
closing

[2019-01-30 00:56] #34 closed

[2019-02-05 11:35] JenusL commented on #19
Yeah the operator type ports need to be exposed and of custome type. But I'm talking about other parameters on the operators, like booleans. Those can't be exposed, so that you can't connect a boolean shader to them.

What exactly was the concern about that? Would anything break?

[2019-02-05 12:01] sjannuz commented on #19
Just to add some more salt, beware that in a very near future Arnold will let you connect an operator graph locally to procedural objects such as alembic and procedural itself.

[2019-02-05 17:09] JenusL commented on #19
Thanks for the info! We should take that into consideration.

[2019-02-05 20:42] JenusL commented on #19
Do we really need to hack the RenderPass.spdl to add the port? Because there's no need for an ArrayListWidget as there can only be one target operator on `options.operator` and I would be fine without anything in the PPG.
Every operator node has an input array of other operator nodes but there can only be one attached to the scene.

As for adding operators to procedurals. Couldn't we just add a ma

[2019-02-05 21:19] caron commented on #19
You're right we don't need to hack the RenderPass.spdl to add the ArrayListWidget, but I am not sure I like not having anything in the PPG signaling there is an operator attached. But since the user base is reduced heavily this might be an OK decision to make.

I am also not sure we need to add a naming convention for the material with an operator, we just check if anything is connected to that po

[2019-02-05 21:52] JenusL commented on #19
Exactly my point.

Graph editor sounds like a fun project but I'm afraid it's way to much work. Not worth it for the small user base in my opinion.

Sounds really icky :)

[2019-02-06 00:24] caron commented on #19
What is your schedule @JenusL ? I can work on this tomorrow my time (PST) for a few hours.

[2019-02-06 08:56] JenusL commented on #19
I'm supervising on set for a TV show for the rest of the week so I have very limited time. Could probably answer questions though but will be pretty hard for me to write code.
But here's my thoughts so far...
- New ArnoldOperatorsDef.py (contains all the operator nodes)
- New Operators.cpp and Operators.h in /sitoa/loader (contains LoadOperators function and other functions for operators)
- Call L

[2019-02-07 00:32] caron commented on #19
I am not sure we need an ArnoldOperatorsDef.py... we should be able to use the same auto registration and UI generation we already do but for operator node types. I will investigate this.

[2019-02-16 06:07] caron commented on #19
I dug in a bit and have auto-generation of operator nodes working and wondered about if we wanted to create an `arnold_operators.mtd` or keep the metadata in `arnold_shaders.mtd`?

You can track progress here...

https://github.com/caron/sitoa/tree/feat/operators

[2019-02-17 11:33] JenusL commented on #19
That sounds great! I haven't had the time to look at it yet but I will as soon as I have time.
I would do a new metadata file for the operators so `arnold_operators.mtd` has my vote.

[2019-02-17 23:48] JenusL commented on #19
I had a quick look now and most of it looks good. I added some comments to the commit.
I also noticed code for the inputs on operators isn't done yet.
It's a little bit tricky as it's an array of the new custom operator type.
We might be able to use and extend the node array code I wrote for the toon shader to support operators. That would add this to the metadata:
[code]
I would love to write som

[2019-02-18 02:03] caron commented on #19
Ya, nothing is 'working' yet... I was going to go for getting one operator connected to the `options.operator` first. And I am researching how to handle inputs port which is a node/reference array, using your work on the toon shader. I was also trying to decide if I could make `operator` type allow connections to/from 'reference' type.

[2019-02-18 14:59] JenusL commented on #19
`node array` is pretty easy now that I've done it several times.
I'm not sure about the reference type. That will create a Pick reference for a Softimage object. Since I don't think it should be visible in PPG we don't really need the reference type, unless it helps a lot in the parsing of the tree.

`set_parameters` also has a `string array` type. I will add support for that as well tonight.

[2019-02-18 21:00] caron commented on #19
is it easy? I mean does the code now exist so that only adjusting metadata will get the right behavior in the PPG? I can't seem to get the behavior you have in the toon shader with the lights parameter in our new operator nodes.

@sjannuz
doing `kick -info merge` shows `output:       (null)` why not have output equal something?

[2019-02-18 21:32] JenusL commented on #19
@caron That's what I'm adding right now. What I did for the toon shader was a hack because that isn't an array in Arnold.
I'm adding generic support for arrays now (only in shaderdef)

[2019-02-19 00:33] caron commented on #19
I saw at your `feat/shader_array_defs` branch and wanted to mention I got array parameters working for auto ui gen. My changes are minimal and since I am not using a custom type for operators anymore and instead using `siShaderDataTypeReference` it works out any new custom metadata. Strings are looking like they work also and I don't believe I broke the toon shader OR the camera projection shader.

[2019-02-19 00:51] JenusL commented on #19
Yeah I saw that. I did a bigger change to make it even more flexible for the future. In my branch anything can be an array, including closures and what not.
I also broke out the parameter_name to Label function.

[2019-02-19 00:54] JenusL commented on #19
I also made great effort in keeping duplicate code to a minimum.

[2019-02-19 01:03] caron commented on #19
Sorry @JenusL It wasn't obvious to me you were working on this. I didn't notice your comment edit from yesterday and you kept saying you were working on it and it went right passed me. I will let you finish and see if I can roll back my two commits so the merge of your `feat/shader_array_defs` should come in cleanly.

[2019-02-19 01:27] JenusL commented on #19
No worries. It’s my fault that I’m always too quick to send my comments so that I have to edit it :)

[2019-02-19 01:28] caron commented on #19
cool, I am working on adding new render options and starting to write the LoadPassOperator() function. I will stash it before merging your branch.

[2019-02-25 02:48] caron commented on #19
@JenusL , why should we set 'inputs' to not inspectable? d9d14861b94bbcfed547208c2de2a773c252ca85

I think its nice to see the 'Add and Clear' buttons what do you think?

[2019-02-25 20:01] caron commented on #19
@JenusL check out my `feat/operators` branch when you get a chance...

I am afraid we are hitting issues with using this undocumented feature that I outlined earlier. We I don't seem to be getting good auto updates during IPR. We might be able to work around it but worst case we could still do the custom 'operator' node attached to the output shader stack.

I get this message all the time, but eve

[2019-02-25 22:27] JenusL commented on #19
@caron Yeah it doesn't matter about the inspectable. You can just right click and add/remove on the node as well.
I mainly thought we should remove it when we had custom "operator" type where nothing new would pop up when you clicked add in the PPG. Would be nice to hide the Pick button tough.

As for the auto update in IPR.... I need more time to think about that and my time is very limited right

[2019-02-25 23:08] caron commented on #19
@JenusL i only get the message with debug verbosity, again its working fine just seems like an odd message.

i understand your time is limited, i am going to bang away a bit more to try and get an update through the OnValueChanged event. if that doesn't work, i am going to try really quickly to get a custom `operator` node that plugs into the output shader stack and see if i can get it to work tha

[2019-03-01 11:52] hollov opened #62 "[Question] declare AtArray with Operator"
I have a question about operators (#19 ).
@JenusL, @caron I saw you guys are actively developing this right now so I thought you might know the answer.

Is it possible to declare an AtArray parameter with operators?
Yeah the [MtoA docs](https://docs.arnoldrenderer.com/display/A5AFMUG/Set+Parameter) lists the types that are available but I've found that unlisted types like 'point' and 'array' are r

[2019-03-01 12:58] JenusL commented on #62
Hi @hollov
We don't have access to the Arnold source code. We only have access to the SDK like everybody else and this information is not in there.
But looking at the help in MtoA docs you link to, it looks like defining arrays is possible as it's several examples of it there.
Are you writing your own Arnold plugin or do you just want to know what to write in the assignment field in MtoA?
If it's

[2019-03-01 15:46] hollov commented on #62
Hey @JenusL,
Thank you for helping me.

Yep, based on the docs it is possible to declare arrays. For example vector arrays would look like this:
`vector[] = [[1 2 3] [4 5 6] [7 8 9]]`
But my guess is it won't generate an AtArray for me. AtArrays also have an nkey parameter: number of motion keys.

What I'm trying to achieve?
I'd like to set texture reference object for polymeshes in an alembic pro

[2019-03-01 16:07] JenusL commented on #62
Since Pref is already defined / built-in you should only use it's name without the type first. So this should be enough:
`Pref = [[1.13375068 2.29986978 -0.797210693] [0.99171114 2.29986978 -1.07597911] ... ]`
That is stated very clearly in the MtoA docs link you sent.

[2019-03-04 11:23] JenusL commented on #62
@hollov Did you see my response above? Not sure if you got the notification when I didn't tagged your name.

[2019-03-20 22:46] JenusL commented on #62
@sjannuz Could you close this please? :)

[2019-03-20 22:48] JenusL commented on #19
So Arnold 5.3 is released with operator support on procedurals. From release notes...

There is also some other Operator stuff that's new that should be added.

[2019-03-20 22:50] JenusL opened #63 "Support Arnold 5.3"
Ticket to track Arnold 5.3 support.
I will start to work on this soon.

[2019-03-20 22:56] caron commented on #19
Ya, I am hoping the auto ui gen will just catch the new 'include_graph' node.

[2019-03-21 09:03] hollov commented on #62
@JenusL Sorry for disappearing...

Yep, I've also tried it without type declaration. Then I get `Pref is not an array` error message.

Anyway we solved our problem with a workaround: we saved the Pref data in the .abc cache as a custom attribute. And MtoA's alembic procedural handles it.

But still I'm curious if it can be set with operators. But this topic not belongs here, so yeah...let's just c

[2019-03-21 09:03] #62 closed

[2019-03-22 10:37] MKXSI opened #64 "Toon shader and contour issues when rendering on higher resolutions"
Theres an issue when rendering sitoa toon shader contour. When trying to render 3000px image, silloutte seems to alias even setting AA samples to 10 and contour filter set to 2.
Anyone could know why this happpens? cause rendering in FullHD doesnt seem to have the same problem
Thanks

[2019-03-22 12:07] JenusL commented on #64
@MKXSI Do you think you could share the images in full res so I can see the issue?
If you can't share production images, could you replicate the issue in a simple scene and send that?

[2019-03-22 12:30] JenusL opened #65 "Can't inspect Material"
Looks like #40 introduced a nasty bug. It's impossible to inspect the Material node because it just jumps to standard_surface. This is because Material shows the closure PPG inside it.
This makes it impossible to choose OpenGL settings like the texture to show in the viewport.

[2019-03-22 13:41] MKXSI commented on #64
![SITOA_TOON_TEST_Main 1](https://user-images.githubusercontent.com/48826788/54826696-99cfd380-4cb0-11e9-8f17-fe6967d57309.jpg)

[2019-03-22 13:42] MKXSI commented on #64
AA 8
4
4
4

Contourt 2

[2019-03-22 15:12] MKXSI commented on #64
Hi Jens,
Uploaded an image
Thanks

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
De : Jens Lindgren <notifications@github.com>
Envoyé : Friday, March 22, 2019 1:07:13 PM
À : Autodesk/sitoa
Cc : Mikel Alcala Azpiroz; Mention
Objet : Re: [Autodesk/sitoa] Toon shader and contour issues when rendering on higher resolutions (#64)

@MKXSI

[2019-03-26 20:24] JenusL commented on #65
So I thought I would loop through all open PPGs and only run `InspectObj()` if `closure` is main content.
`Application.Desktop.ActiveLayout.Views` doesn't return any PPGs and I can't find any other way at all to get them.
I've tried all I can think of but can't really find a solution to this other than to remove the code completely.
@caron Any thoughts?

[2019-03-26 20:28] caron commented on #65
Looking at it now...

[2019-03-26 20:42] caron commented on #65
Hmm, this is tricky. Maybe we can inspect the material node also. `InspectObj` takes a string list so we can pass both the input and output of the `closure` node.

[2019-03-26 21:20] JenusL commented on #65
Great thinking! So I just tried that and it doesn't work either :(
It creates an infinite recursion because Material wants to show closure so the logic runs over and over.

[2019-03-26 21:23] caron commented on #65
Right, doh! I am fine removing it, it was just a 'nice' thing to have. Don't want to cause trouble.

[2019-03-26 21:29] JenusL commented on #65
Created a revert PR.
I agree it was a nice thing to have. Maybe we can revisit it some time.

[2019-03-26 21:31] JenusL commented on #63
You can follow along here https://github.com/JenusL/sitoa/tree/feat/a5.3.0

[2019-03-26 23:07] JenusL commented on #63
Ok so I just added the GPU functionality and hit a problem...
`closure` shader isn't supported on the GPU!
[code]
Even before I encountered this, I had plans to skip the shader from being exported to Arnold, so that SItoA scenes would be more interchangeable with other packages.
So I guess I have to fix that first. Unless there's a way to get custom shaders to render on the GPU.
@caron and @sjannu

[2019-03-27 00:15] caron commented on #63
sounds like we need to skip it... so if there are no custom nodes supported on the GPU then we got many other sitoa shaders which aren't going to work too.

[2019-03-27 07:18] sjannuz commented on #63
Yes, we need to skip it. It's just a passthrough.
Custom (SItoA-specific) c++ can't work right now. In the other plugins, we have ways to signal the user a given node is not supported.

[2019-03-27 11:32] #65 closed

[2019-03-27 12:16] JenusL commented on #63
Ok thanks for the info.
I've also seen that the other plugins now have translators from DCC shaders to Arnold shader trees.
That would be something to consider as well an much of the code can probably be lifted from MtoA.
But I'll just skip the closure as a first step so we can get a new version out the door.

That said, I've run in to some other issues as well…
When I added Optix Denoiser I had s

[2019-03-27 21:02] JenusL opened #67 "Softimage can't handle the bucket rate"
I first mentioned this in #63 but I thought a new ticket is better for it.
Problem is Softimage doesn't update the Render Region (maybe render window as well) quickly enough for Arnold. This leads to a delay in display of the rendering.
I have experimented with different bucket sizes and really large buckets seems to make things better.
I just tried largest bucket size (256) with GPU renderer and

[2019-03-28 10:34] JenusL commented on #67
One ugly thing I can think of, is increasing the bucket size automatically on lower IPR and if rendering progressive / GPU.
But that's only if we can't come up with something better.

[2019-03-28 11:47] JenusL commented on #19
Just a FYI, Arnold 5.3 ships with it's first shader ever using an array parameter. So I will probably merge in my feat/shader_array_defs branch to my Arnold 5.3 branch to get that supported.

[2019-03-28 15:27] caron commented on #19
so my `feat/operators` branch is kinda working...

- IPR still doesn't work correctly
- there is a few cases were the simple refresh doesn't give you the correct result but completely dumping the scene and re rendering does

so because of that I now need to test making a new `operators` node which will connect to output shader stack and see if changing parameters on the nodes works automatically.

[2019-03-28 15:52] JenusL commented on #19
Ok cool. When do you think you have time to look at that?
When I'm done with all the 5.3 stuff I could jump in on the operators as well.
Would be nice to get everything out the door at the same time.

[2019-03-28 16:04] caron commented on #19
I have been off and on it this week. I am on it now but I have no idea how long it will take.

[2019-03-28 17:48] caron commented on #19
OK, as I expected and as @sjannuz probably already guessed... the custom 'operator' port on the material node doesn't get IPR updates. To test this I added a dummy `operator` node like the `closure` node and hook it up to the output shader stack and we get IPR updates as expected.

I still have an issue with a combination of disable and switch operator nodes. Whatever branch cooks first, I doesn't

[2019-03-28 18:39] JenusL commented on #19
Well we could just deprecate `closure` node and create a new node that have both a closure and operator port. The operator port would be ignored on anything but procedurals or pass output.

[2019-03-28 18:56] JenusL commented on #19
@caron Maybe you could create a PR to my feat/a5.3.0 branch instead of to develop here. You can create it now so we can review and we'll merge it later. That way we could sync up easier before making a PR to this repository. We're working on a lot of the same parts of the code and that could lead to conflicts.
Sounds good?

[2019-03-28 19:07] caron commented on #19
i can do that, give me another hour

[2019-03-28 19:59] caron commented on #19
just saw a commit on your `feat/a5.3.0` branch about bumping the minimum version, i didn't know they had released a bug fix version. so i looked at the fixes and i saw this...

this looks like something i was running into and thinking it was me! checking that now and then doing a PR

[2019-03-28 20:30] caron commented on #19
BTW, I did run the testsuite and it is 96% passing. The ones failing are related to texturing/projections and many are outright crashing and not failing the image diff.

- [ ] Add operator tests added to the testsuite.

[2019-03-28 21:14] JenusL commented on #19
Ok thanks! I haven't gotten to the test suite yet with 5.3. Will fix that later.
Did Arnold 5.3.0.1 fix the issue you had?

[2019-03-28 21:17] caron commented on #19
Yes it did! :)

This is from the release notes...

I thought it was an IPR bug but it was just the disable node acting funny the first render, any future updates wouldn't allow it to be enabled again.

[2019-04-01 20:50] JenusL commented on #63
@sjannuz I have a question… One of the new features in 5.3 is this:

Right now we export `diffuse_albedo`, `N` and `Z` for use in noice. Should I skip `diffuse_albedo` and export the new `denoise_albedo` instead? Or do noice want both?
MtoA hasn't changed this yet so I don't have any reference to go on.

[2019-04-01 21:03] JenusL commented on #67
I found the Spectre and Meltdown patches in Windows 10 to be a major slowdown of Softimage with my particular CPU. I disabled the patches on my system and Softimage is orders of magnitudes more responsive, like it used to be a year or so ago.
Over all everything in Windows became much more responsive.
**WARNING!** Disable the patches on your own risk and make sure you know what you're doing.

Even

[2019-04-01 23:57] JenusL commented on #63
Just ran the testsuite for the first time. I think every test with a shape instanced on a strand is failing. Two other tests crashed. Total of 10 failed tests.
Will investigate tomorrow.

[2019-04-02 23:46] caron opened #69 "cryptomatte not showing in render tree?"
I can't find `cryptomatte` under the Arnold/AOV category. When I add it using a script it shows up red without ports.

@JenusL Is it working for you?

[2019-04-03 19:32] JenusL commented on #69
@caron Yes it's working fine here in feat/a5.3.0 branch.

[2019-04-03 20:46] rmv commented on #63
For `noice`, just replace `diffuse_albedo` with `denoise_albedo`

The executable accepts both, and will use `denoise_albedo` if found, and fall back to the older `diffuse_albedo` otherwise.

[2019-04-03 21:22] caron commented on #69
i had cryptomatte installed from alShaders maybe it was messing with it. i will try a fresh build of `feat/a.5.3.0` branch

[2019-04-03 22:21] JenusL commented on #69
Yeah that's probably why.

[2019-04-04 08:54] JenusL commented on #63
Ok so I'm closing in on the reason why some strand tests fail.
Bug seems to be in `varying` data on strands.
https://github.com/Autodesk/sitoa/blob/52a0a4b35f51bccb6223a8206d04b40edc80071c/plugins/sitoa/loader/ICEHelpers.cpp#L2372-L2402

First AiArrayAllocate is called.
Then we fill the array with data but we skip some array indices: A strand of 3 segments has 4 values in Arnold. I don't know why

[2019-04-04 22:00] JenusL commented on #63
After further investigation, I found that there's nothing really wrong in SItoA or Arnold.
The strand scene I'm looking at now (test_0025) has 4 strand segments on each strand. Then the "first segment fix" is added only to StrandPosition. So now StrandPosition has 5 segments but all other Strand* attributes has only 4 segments.
If all 4 Strand* values are the same, it's considered uniform and expo

[2019-04-04 23:09] caron commented on #63
@JenusL i haven't had a chance to wrap my head around the issue and i am not sure i will for a few more days.

in the mean time, can we cross reference the old trac ticket database to see if there is more detail as to what this code is doing and if/when it was "fixed" to resolve some bug or previous version arnold behavior?

also, when i ran the testsuite last i was passing all but 8 tests and onl

[2019-04-05 09:40] sjannuz commented on #63
I don't think anything has changed in Arnold related to arrays or curves. Unfortunately, I'll be fairly busy for the next week too, to be able to help you. Maybe if you could export a simple ascii .ass and compare kicking it with 5.2 and 5.3, we could ask the core guys about that.

[2019-04-05 12:09] JenusL commented on #63
@caron Well the code is exporting IceAttributes to Arnold. Either way, it needs to be fixed. I will fire up old Mental Ray and see how that handles different sizes of the Strand* arrays.

@sjannuz I don't think I need your help, just your input on behavior when Strand* attributes have different array sizes. I will se how Mental Ray does it and get back here.
An .ass wouldn't help here as the error

[2019-04-05 16:04] sjannuz commented on #67
I asked Alan about that, here's what he wrote me:
I'd say that for progressive mode you'll be wanting larger buckets since what matters there are frequent updates to the entire image in passes and not so much in the tiny regions of a bucket, and progressive passes with their few samples per pixel per update are much quicker to refresh than non-progressive
exactly how much bigger is hard to say
you

[2019-04-05 16:26] JenusL commented on #67
Thanks for checking. Then I will do a test with dynamically changing the bucket size in the render region depending on progressive/GPU, how large region you draw, etc. and see what happens.

[2019-04-05 18:17] caron commented on #63
@JenusL can you share a repo scene file with me? just send to my email.

test_0025 didn't fail for me previously and i ran it again on your `feat/a5.3.0' branch to confirm and it still doesn't fail. also, looking closer at test_0195, it is just failing on the noicon.pic/texture search path issue.

do we know **exactly** why `StrandPosition` is getting the extra point in it? i have a guess but i th

[2019-04-05 19:32] JenusL commented on #63
@caron Well test_0025 and the python script above is pretty good repos. It doesn't happen to me all the time either. You have to render, destroy, render, destroy several times for it to show up. Or in the case of the python script, run that several times as well. The uninitialized memory allocated by Arnold will change. Maybe it's Windows 10 that uses the memory differently than before.
I have tes

[2019-04-06 00:27] JenusL opened #70 "Varying StrandAttributes with less samples than StrandPosition is flickering"
While working on #63 I found a bug in how we export `varying` data from ICE. I think that type of data is only exported on Strands that have varying data across it's length.
The problem is if we, for example, have a StrandColor array of 4 values per strand, but the StrandPosition has more values. This often happens in scenes where you want to copy the PointPosition to be the first StrandPosition s

[2019-04-06 02:50] caron commented on #63
ok, this reminded me of what the reason for this was. mental ray and arnold have different behavior for the particle position. mental ray always connects the particle position to the first point in `StrandPosition`

https://trac.solidangle.com/sitoa/ticket/310

so let's talk about this in #70

[2019-04-06 09:34] JenusL commented on #70
Just tried to have the StrandColor have more samples than StrandPosition. No crash at least but Arnold say this:
`// ERROR : [arnold] AiArraySetRGBAFunc: out-of-range error (11 out of 11) in plugins\sitoa\loader\ICEHelpers.cpp at line 2400`
My fix will take care of this as well.

[2019-04-07 00:51] JenusL commented on #63
Ok I've fixed the strand attributes issue now in #71
I had hoped that would fix all tests that failed for me but I'm afraid it didn't. It only fixed test_0025.
I still have tests 56, 77, 104, 105, 119, 120 and 236 failing. They all have instanced meshes on ICE strands or hair objects.
I've spent a long time trying to figure out what is wrong in the code but can't find anything wrong.
If I compile

[2019-04-07 22:18] JenusL commented on #19
Operators support is included in #68

[2019-04-08 01:15] caron commented on #63
I just need to chime in quickly and say those tests didn't fail for me earlier. We need to be sure we have the same failures. I am running the entire suite again using the latest branch.

[2019-04-08 10:08] JenusL commented on #30
Still having issues with this in Arnold 5.3.0.1

[2019-04-08 10:08] JenusL commented on #63
Please run the tests several times or open the tests in Softimage and render them several times. They doesn't always fail for me, but most of the times they do. I've tested on the two machines I have available to test on. Both are running the latest Win 10 (1809).

[2019-04-09 04:43] caron commented on #63
ok i was able to get a lot of failures now with `feat/a5.3.0` branch and 5.3.0.1 core.... and i also rolled the code back to `master` branch with 5.3.0.1 then ran the testsuite and i also got a lot failures.

so glancing at the release notes i noticed this in 5.3...

- Automatic reinitialization of shapes: Modifying a node parameter in a geometry (aka shape) node will now trigger automatic re-init

[2019-04-09 09:25] JenusL commented on #63
Good to know you can reproduce as well.
I don't think I've ran the tests with 5.3.0.0 so that could be done, just to see what happens.
Also, let's not do any changes on this until we hear back from @sjannuz or anyone else at AD, so we know what's really going on.

[2019-04-09 13:12] JenusL commented on #19
A very common thing to do with operators is to switch out shaders on nodes with a `set_parameter` node.
This is currently very hard since the shader name in Arnold has some uniqe suffixes added. I'm working on a lookup function / translator that will make it possible to use the Softimage name.

[2019-04-09 22:08] JenusL commented on #63
I just compiled with 5.3.0.0 and it has the same issues. So it's not any of the changes made in 5.3.0.1 that's causing it.

[2019-04-09 22:44] JenusL commented on #69
@caron Did you get this to work?

[2019-04-09 23:16] caron commented on #69
i removed all references to the old cryptomatte and alshaders but still doesn't show up.

while trying to figure out what was going on i noticed the cryptomatte.dll in the plugins directory wasn't being installed correctly when i was switching between the different arnold core versions. i was building with 5.3.x and then switched to 5.2.x but the cryptomatte.dll wasn't being updated (either was al

[2019-04-10 21:48] JenusL commented on #69
Hmm, yeah that's strange. Maybe we should look into that.

[2019-04-11 22:24] JenusL commented on #63
Arnold 5.3.0.2 was released today and that is also failing the tests.

[2019-04-13 13:04] JenusL commented on #19
Done with the shader translation in https://github.com/Autodesk/sitoa/pull/68/commits/25a04f3774d5ce21eace1218a3714ae2c1633ed5.
I also updated operators test.

[2019-04-14 14:54] JenusL commented on #67
This is implemented in https://github.com/Autodesk/sitoa/pull/68/commits/91d4b8ae13bc178df895b2de9e774425d667d491
While doing this I discovered a bug with certain bucket sizes with GPU in Arnold. It's reproducible in kick so I will report it to AD.

[2019-04-14 15:03] #70 closed

[2019-04-14 15:51] JenusL commented on #64
@MKXSI I finally had a look at this and I can't reproduce the issue in upcoming SItoA 5.3.0 using Arnold 5.3.0.2. Either the bug has been fixed in Arnold or it was never there in the first place.
Can you please close this issue?

[2019-04-14 16:23] JenusL commented on #63
I noticed another issue as well... I can't get OptiX Denoiser to work with GPU renderer. `AiOutputIteratorGetNext()` never gets `RGBA_denoise` when rendering with GPU.
@sjannuz Is this a known limitation that isn't documented? Or is it a completely different mechanism to use OptiX Denoiser with GPU?

[2019-04-15 07:59] MKXSI commented on #64
Sure no problem!
Thanks at all-

[2019-04-15 07:59] #64 closed

[2019-04-26 16:45] sjannuz commented on #63
I could repro the cloning issue in a standalone with 5.3, I'll check with the core guys on Monday.
The problem seems to derive from calling AiNodeSetArray and THEN modifying the array content.
Doing the other ways around (fully setting the array and then assigning it) seems to work.

Here is a code snippet, cloning a box after loading it from a .ass:

    AiASSLoad(argv[1]);
    AtNode* box = AiNo

[2019-04-27 12:52] JenusL commented on #63
Thank you very much for taking time to test this @sjannuz!
So let's wait until we hear back from the core team and then decide what to do.

Did you have any info about my last comment here? About the Optix Denoiser when rendering on the GPU?

[2019-04-27 13:03] JenusL opened #73 "Add MaterialX exporter"
Arnold 5.3 includes a new MaterialX API that's implemented in the other DCC plugins.
From 5.3.0.0 release notes:

Should we implement this? Would anyone use it in SItoA?

[2019-04-29 10:14] sjannuz commented on #63
About the above code, since 5 we should not modify an array after having set it on the node. The fact that it worked it was just kind of luck.

[2019-04-29 12:49] JenusL commented on #63
Ok good to know. I will fix it in SItoA then.
Now when we know what the error is it should be pretty easy to fix.

[2019-04-29 16:20] caron commented on #63
@JenusL my operator code, which re uses LoadShaderParameter, uses this set, get, modify technique on arrays. i put in a detailed commit message outlining that i did that...

599d1d87baf224b645093264f9ac0a8f4941d83d

i didn't actually __want__ to do that but the existing code kinda did that already and it's recursive nature required it.

@sjannuz is this modify array behavior specific to shape node

[2019-04-29 16:22] sjannuz commented on #63
@JenusL,  about the RGBA_denoise problem, I can't focus on the problem at the moment. Are you able to provide any simple repro code ?

[2019-04-29 16:26] sjannuz commented on #63
@caron , if you get and set the whole array all the times, you should be ok. What you can't do is modifying an array after setting it (only once) on a node. For that, you now need to map/unmap the array, there are dedicated API calls.

[2019-04-29 16:34] caron commented on #63
@sjannuz aah, i see... i overlooked that in the simple repo program you posted. in your example code... get array, set array, then modify array little by little, instead of getting, modifying everything, then setting at the end.

@JenusL my operator code should be ok then.

[2019-04-29 17:46] JenusL commented on #63
Ok so reading the 5.0.0.0 release notes I can se two changes that seems to have caused these issues:

The second one must have been what caused test_0025 to fail.

Now what I find strange about this is how come the code worked all the time until Arnold 5.3...

[2019-04-29 18:59] JenusL commented on #63
Fixed the `AiNodeSetArray()` issues in https://github.com/Autodesk/sitoa/pull/68/commits/0205f7a645589d2ff8344b3745e25c28cab94ebb
I only ran the failed tests and they all pass now :)

@sjannuz No worries on the denoising. I have some ideas I'm gonna try and I can always talk to support about it if that doesn't work.

[2019-04-29 19:27] JenusL commented on #63
So the problem with Optix Denoiser and GPU might be the fact that GPU only supports one filter at a time for all AOVs. When rendering, SItoA sends both `RGBA` and `RGBA_denoise` with separate filters to the display driver.
This fails, probably because `RGBA_denoise` will use the output filter instead of the optix filter.
So I tried to send only `RGBA_denoise` to the display driver and then Optix D

[2019-04-30 00:41] JenusL commented on #63
Optix Denoiser with GPU added in https://github.com/Autodesk/sitoa/pull/68/commits/87d07f45cf8eb6d9b93f36b4ba4a5ad44ff3c91c

I'm going to run the complete test suite now and if everything is fine I feel like it's time for release maybe. What do you guys think?

[2019-04-30 08:04] JenusL commented on #67
In https://github.com/Autodesk/sitoa/pull/68/commits/da39843d63d351b4d6134ec658b3ad65e2272140 I made the bucket size dependent on number of CPU cores so that total number of buckets is `num CPU cores * 2`

[2019-04-30 09:19] JenusL commented on #63
Complete testsuite PASSED!

[2019-04-30 10:04] JenusL commented on #63
Testing on a older workstation where the GPU is of older model and not even supported in Arnold 5.3 anymore (Kepler based) and I get instant crash when rendering in Softimage. Investigating...

[2019-04-30 12:27] sjannuz commented on #63
I also get an instant crash on my older laptop. I can kick, but any render run in Soft crashes immediately.

[2019-04-30 14:59] JenusL commented on #63
Yeah... I can't find anything wrong in the SItoA code. Kick MtoA, and MAXtoA works fine. Here's a backtrace I got when running a test:
[code]

[2019-05-01 02:12] caron commented on #73
We could implement it for fun but it is certainly low hanging fruit.

[2019-05-02 08:59] JenusL commented on #63
@sjannuz So, any sugestion of how to proceed with this? Could I talk to core support about it or would I be ignored because Softimage is dead?

[2019-05-02 14:24] sjannuz commented on #63
Do you have other plugins running on that same machine ?

[2019-05-02 14:52] JenusL commented on #63
I have. But I decided to try it again and now it just works.
So what I did differently between these tests is that I started with our in-house Launcher, that sets `solidangle_LICENSE` env vars. Then it works fine.
What I had done before was just start Softimage from start menu, with no license env, and then it crashed. So maybe the bug is in how the core checks the DCC for a Arnold license...
Anyw

[2019-05-02 15:16] JenusL commented on #63
FYI, If you need to render without a license, `Skip license check` seems to also solve the crash issue.

[2019-05-02 15:21] JenusL commented on #63
I also tried without other plugins loaded, and that crashes as well.

[2019-05-02 15:55] JenusL commented on #63
Done some more testing and it's definitely the Autodesk License Manager that crashes.
`adlmint.dll` is included with Arnold and in Softimage install. I guess it's the one in Softimage that gets used because it's already loaded into memory. And that causes Arnold to crash if it tries to connect to a Autodesk license server (flexLM).
RLM license connection works fine.

I tried to put the new `adlmin

[2019-05-02 19:46] JenusL commented on #63
So I tried SItoA 5.2.0 and that has the same problem. Crashes on my workstation if I try to use Autodesk License Manager. So it's not a new thing in 5.3.
I also tried with only SItoA loaded and no other plugins but that didn't work either.

Now I'm home again and can't recreate it at all on my home machine. Can't make it crash. This is very weird.
Good thing with that is that maybe it isn't `adlmi

[2019-05-03 15:23] JenusL opened #74 "Crash when trying to get a license from AdLM (FlexLM)"
Starting with SItoA 5.2.0, it crashes when using Autodesk License Manager. RLM works fine.
I got this screenshot from rray on si-community.com:
![aIfmcxT](https://user-images.githubusercontent.com/23527584/57146699-3fa15280-6dc6-11e9-91f2-d349ecaefdb0.jpg)

He also reported that the last version he could run was SItoA 5.2.0-beta. That version had Arnold 5.2.1.0.
Arnold 5.2.2.0 introduced the Licen

[2019-05-03 15:58] JenusL commented on #74
I just compiled SItoA 5.2.0 with both Arnold 5.2.1.0 and 5.2.2.0 and I can confirm that the bug started with 5.2.2.0.
`AdClmHub_1.dll` and `adlmint.dll` are identical in Arnold releases 5.2.1.0, 5.2.2.0 and current Arnold 5.3.0.2 release, so something must have changed in Arnold itself.
@sjannuz This is a pretty big deal. Could you report this to the core team?

[2019-05-03 15:59] JenusL commented on #63
I opened a new ticket for the licensing crash. #74

[2019-05-03 17:30] stephenblair commented on #74
Given that many other users are running Arnold with Autodesk licenses and not crashing, I'm not convinced it's it's a bug in Arnold. Does kick crash?

There's a lot of moving parts in the Autodesk licensing framework, and just one bad xml file somewhere and the licensing won't work.

[2019-05-03 18:32] JenusL commented on #74
No kick doesn't crash.

[2019-05-03 18:50] stephenblair commented on #74
Right, kick works fine:

[code]

So it's something else. Investigating...

[2019-05-03 18:57] JenusL commented on #74
I was able to reproduce the issue on my home machine as well by pointing to the Autodesk License Server at work.
I also updated our NLM to latest and but still crashes.
The reason I think it's something in Arnold core is that this just started with Arnold 5.2.2.0 when you added the ARNOLD_LICENSE_MANAGER variable.

[2019-05-03 19:13] stephenblair commented on #74
Nope. It's the old adlmint.dll in the Softimage Application/bin folder.

If I replace that with the newer adlmint.dll from the SItoA bin folder, then xsibatch gets a license and renders.

With the old, original adlmint.dll in the Application/bin folder, xsibatch crashes at license checkout

[2019-05-03 19:16] stephenblair commented on #74
Need to somehow make sure Arnold and the newer adlmint are loaded

[2019-05-03 19:46] JenusL commented on #74
Ok but `adlmint.dll` supplied with Arnold was the same newer version in 5.2.1.0 as well. Does it mean that you made sure it was loaded in that version but that code got lost in 5.2.2.0?
I really don't get how this could surface otherwise...

[2019-05-03 19:50] RRClaus commented on #74
Just tried it, but XSI wouldn't start with arnold's adlmint.dll in the Application/bin folder (exits right away without a message)

the other way around, with the older adlmint in the arnold Plugins\bin\nt-x86-64, it crashes as before

[2019-05-03 19:52] JenusL commented on #74
I tried to switch out `adlmint.dll` in Application/bin a couple of days ago but just as @RRClaus says, Softimage doesn't even get a splash screen for me in that case so I gave up on that. Interesting that the hack worked for you.

[2019-05-03 19:54] stephenblair commented on #74
Note that my set up is probably different.

I never ran the Softimage installer, I just copied the Softimage folder from another drive.

All the Autodesk licensing stuff was installed when I installed Maya 2018.

That's probably why copying the newer adlmint.dll to the Softimage bin folder works on my machine

[2019-05-03 20:09] JenusL commented on #74
Can the Core team make sure the correct one is loaded or is it something I can do?

[2019-05-04 12:24] stephenblair commented on #74
It's not just adlmint.dll, I think it's the rest of the licensing framework that is installed on disk.

As I said, my setup is not standard, because I didn't run the Softimage installer, and all the licensing files on my machine were installed when I installed Maya (by the CLIC_x64_Release.msi installer included with the Maya download).

That's why replacing adlmint works on my machine...all the r

[2019-05-04 15:58] RRClaus commented on #74
One yet hackier way that worked for me is uninstalling SItoA, restarting XSI, renaming adlmint then reinstalling SItoA in the same session. Further proof it's the older adlmint.dll  (There is even a adlmint_libFNP inside the Softiimage bin directory so it seems some very similar problem has existed before)

[2019-05-04 17:25] RRClaus commented on #74
Found a way .. once again yet hackier 😵. Use a hexeditior like HxD to search for the string "adlmint.dll" inside AdClmHub_1.dll. Rename it there and rename the dll itself then Arnold will use the renamed one and it will work.

Not sure if a patched dll like this may be distributed though

[2019-05-09 12:11] JenusL commented on #74
That last hack you found sounds better than the one before. But best would be if AD/SA could fix this in the core.

[2019-05-26 18:46] JenusL commented on #74
Nothing was changed in Arnold 5.3.1.0.
@stephenblair Any news?

[2019-05-26 19:13] RRClaus commented on #74
Not totally sure if this is how it works but I believe arnold core is a dll that loads the licensing dll that again loads the adlmint dll. If that last dll has been loaded into memory already and it has the same filename there might be nothing they could about it in the core. Then a fix would be to recompile the licensing dll to make it backwards compatible with the older xsi adlmint (like the one

[2019-05-26 19:33] JenusL commented on #74
Yeah I'm aware of how everything works. What AD could do is distribute the Arnold SDK with adlmint.dll already renamed. That's what I mean with "nothing has changed in 5.3.1.0".
I would like to get some official word on what ADs stand on this issue is.

[2019-05-26 19:37] RRClaus commented on #74
Oh ok sorry for assuming you didn't

[2019-06-11 10:22] JenusL commented on #74
@stephenblair Sorry to bother you again, but I would really like to know if there's any news on this?

[2019-06-11 10:24] JenusL commented on #73
I'm seeing this workflow used more and more in the MtoA mailing list so maybe it's worth looking in to.

[2019-06-13 07:56] JenusL commented on #74
So to recap, `adlmint.dll` used by Arnold is colliding with the same file in Softimage.
The Softimage one is already loaded so that one is used. This leads to instant crash when trying to check out license in SItoA.
Very ugly workaround is renaming `adlmint.dll` that comes with Arnold and edit `AdClmHub_1.dll` to point to the renamed dll.
Best would be if the file was renamed in the SDK releases s

[2019-07-31 21:19] JenusL commented on #74
Ok so Arnold 5.4.0.0 was released today and this still isn't fixed 😢

[2019-07-31 22:03] JenusL opened #75 "Support Arnold 5.4"
Ticket to track Arnold 5.4 support.
No big changes so it should be a quick one.

[2019-07-31 22:09] JenusL commented on #20
Arnold 5.4 added a new `layers` parameter as well.

[2019-08-12 10:45] JenusL opened #77 "xsibatch can't find shaders defined in ArnoldShaderDef.js"
As of right now, only `physical_sky` is defined in `ArnoldShaderDef.js` and that fails silently when rendering with xsibatch on Windows. Tested with testsuite, RoyalRender and just manual command. They all fail.
Why would this happen? Is it a known limitation of some sort?
@caron Do you have any idea?

[2019-08-12 10:52] JenusL commented on #77
The only piece of code I could find to explain this is shown below but I see no reason that wouldn't work...
https://github.com/Autodesk/sitoa/blob/52a0a4b35f51bccb6223a8206d04b40edc80071c/plugins/sitoa/sitoa.cpp#L103-L113

[2019-08-12 17:31] caron commented on #77
Can you explain the behavior a bit more so I can reproduce?

[2019-08-12 18:20] JenusL commented on #77
Just try and render a scene that have a `physical_sky` shader. The shader will not be exported to Arnold when rendering with xsibatch.
`physical_sky` is a special case where it exits early in auto shaderdef code for it to be manually defined in `ArnoldShaderDef.js`.
https://github.com/Autodesk/sitoa/blob/52a0a4b35f51bccb6223a8206d04b40edc80071c/plugins/sitoa/loader/ShaderDef.cpp#L554-L555
So far I

[2019-08-12 18:22] caron commented on #77
OK, I will try it later tonight.

[2019-08-12 22:42] JenusL commented on #77
So here's what I've found so far.
* When running in interactive mode,` ArnoldShaderDef.js` is loaded first then `Load()` in `ShaderDef.cpp` because of the `OnStartup` callback.
* When in batch mode, `Load()` is called directly which causes `ArnoldShaderDef.js` to be loaded after.

This is the only thing that differs the two.
Good news is that I think I have a work around, but I'm still not sure wh

[2019-08-14 20:54] JenusL commented on #77
I made a fix for this but shaders that are defined in `ArnoldShaderDef.js` needs to be explicitly skipped in `ShaderDef.cpp`. See the above commit for the fix.

[2019-08-14 20:54] #77 closed

[2019-08-14 20:58] JenusL commented on #74
Bumping this again. Can I at least get an answer if this is ever getting fixed?

[2019-08-14 23:00] JenusL opened #78 "Export Nref"
MtoA has the ability to export Nref.
That can be very handy sometimes and I'm actually using it in a custom triplanar shader to get good masking/blending when using Pref.

Hint to core team: Add support for Nref in `triplanar`

[2019-08-15 22:36] JenusL commented on #78
Because of the beautiful API of Softimage and SItoA this just took 30 mins to add here https://github.com/Autodesk/sitoa/pull/76/commits/f291d671b0b231f638ecfe73ef1d60e33cfb7b44

[2019-08-15 22:41] JenusL commented on #77
I should note that in the process I removed most of the manual define of `physical_sky` from ArnoldShaderDef.js. Only the extra buttons at the bottom and the logic is defined there now, and the rest is handled by the auto shaderdef.
Now, only `set_parameter` is defined in js.

[2019-08-15 23:56] JenusL commented on #69
Could you close this @caron?

[2019-08-15 23:57] #63 closed

[2019-08-15 23:59] caron commented on #69
Its not exactly fixed, its a build issue.

[2019-08-16 00:04] JenusL commented on #30
And still same issue with Arnold 5.4.0.0

[2019-08-16 00:14] JenusL commented on #69
Ok cool I'll see if I can fix it.

[2019-08-16 00:20] caron commented on #69
my guess is scons doesn't actually track those files the same way as it would the .dll files we are building in sitoa. ie. if the file exists then that is good enough.

[2019-08-16 00:35] JenusL commented on #69
I found this https://scons.org/faq.html#Why_is_my_directory_only_updated_the_first_time.3F

[2019-08-16 00:38] caron commented on #69
Ya, that looks like what I ran into when I researched it originally... I didn't like that idea cause that would mean polluting the Arnold API directory with this random file. Did I understand the suggested workaround correctly?

[2019-08-16 01:06] JenusL commented on #69
You don't need a random file if the .dll files themselves has changed. And they have changed. Otherwise you wouldn't get a crash.
I fixed it now in https://github.com/Autodesk/sitoa/pull/76/commits/c9ac9a1a5f2e88c8d5c883a2c9ad2731071bda57

[2019-08-16 01:23] caron commented on #69
That is what I thought it would do but it didn't... I see you changed the Install to pull the files instead of just the folder. That was enough for it to see the files were different then?

[2019-08-16 01:30] JenusL commented on #69
Yes exactly. When it looked at the folder it only checked that the folder existed.
Now it checks all the files instead and it works as expected.

[2019-08-16 01:33] caron commented on #69
Closing #69

[2019-08-16 01:33] #69 closed

[2019-08-21 10:22] sjannuz commented on #74
I don't think this will ever be fixed, there is already a lot of energy going into licensing. If you are ok with the patch, let's go with that.

[2019-08-21 18:34] JenusL commented on #74
Yeah I'm ok with the patch as long as you guys are.

[2019-09-26 16:33] #78 closed

[2019-09-26 16:34] #75 closed

[2019-09-26 16:34] JenusL commented on #75
Done in #76

[2019-09-26 16:34] #74 closed

[2019-09-26 16:35] #67 closed

[2019-09-26 16:36] JenusL commented on #19
Closing this now.
If we want to do Operators on procedurals sometime we can open a new ticket then.

[2019-09-26 16:36] #19 closed

[2019-10-10 21:08] furby-tm commented on #67
Hey guys, did you ever find a good implementation to fix this, or was simply making the bucket size bigger the only option there is to make less viewport redraw calls? Obviously full screen redraws would be optimal here, but wasn't sure if that was possible to do yet in Arnold or not.

[2019-10-11 08:49] JenusL commented on #67
@tyler-furby I added an "Enlarge buckets in progressive IPR" option that will make the buckets large enough so that the total number of buckets required to cover an image is number of CPU core x2. If enabled, it's still only active in progressive and GPU rendering.
On my 4 core machine I got buckets around 300px large with GPU and that helped a lot.
Are you having issues with this?

[2019-10-11 16:25] furby-tm commented on #67
Yeah, the best option is to redraw only after the buffer is completely filled with all the buckets, so you aren't making redraws every single time a new bucket is ready for the viewport.

[2019-10-11 17:47] JenusL commented on #67
Softimage handles the redraw and that's not something we can control through the API.

[2019-10-13 05:51] furby-tm commented on #67
Have a callback write to opengl via the `AtDisplayOutput` in the new rendering API's `AtRenderUpdateCallback` instead of each time a bucket writes out data in the driver's driver_process_bucket; instead you can just copy the bucket to the appropriate spot in the framebuffer, but not actually display the framebuffer until you ask for it.

The idea is this should ensure extra redraws are not called,

[2019-12-11 01:37] JenusL opened #81 "Support Arnold 6.0"
From the Arnold 6 release notes

Incompatible changes
* **C++11 API:** We have raised our minimum C++ requirement to C++11. Compiling with C++03 will likely result in compilation errors. (#8729)

I tried to compile and immediately got compile issues with `constexpr`, which is a C++11 function that wasn't added until VS2013 CTP.

So I moved up to VS2015 and got it compiling without any issues and i

[2019-12-13 01:25] JenusL commented on #81
After updating the physical_sky test the testsuite passes.

[2019-12-15 23:32] JenusL commented on #30
Issue is still there in Arnold 6.0.1.0.

[2020-01-20 13:44] #81 closed, assigned to nobody

[2020-02-16 23:16] JenusL commented on #30
Issue still there in Arnold 6.0.2.0.

[2020-02-16 23:21] JenusL opened #83 "USD procedural"
Arnold added an USD reader in version 6.0.2.0.
Will be smart to add support for it and Alembic (#20) at the same time.
I had a look at MtoA source and this should be pretty simple. Almost all needed code will be PPG.

[2020-02-17 21:39] JenusL commented on #83
@sjannuz Does the usd directory and all it's content in /plugins need to be distributed with SItoA?

[2020-02-19 10:16] sjannuz commented on #83
Correct

[2020-11-04 23:12] JenusL opened #86 "Hidden lights still visible in camera and transmission"
Support for visible are lights were added in Arnold 5.3. In SItoA we always export all lights but set the intensity to 0 on hidden lights. This causes the light to disappear in Reflections, but it is showing up as black in Camera and Transmission.
Workaround right now is to just set camera and transmission to 0 as well on hidden lights,
But I still got some questions...
1. Why is Specular / Reflec

[2020-11-09 10:40] sjannuz commented on #86
Back in the days, that was the simpler way to support lights' enabling/disabling in IPR. But that was long ago, many enhancements have happened in Arnold around IPR support, including destroying and creating lights.
As it is, a more modern way to disable a light without destroying it is probably AiNodeSetDisabled.

[2020-11-09 20:53] JenusL commented on #86
I tried AiNodeSetDisabled. It makes sense to use that in IPR but it doesn't work as expected when exporting to .ass. Do you think I should just skip exporting hidden lights when not in IPR?

[2021-01-04 23:53] JenusL opened #87 "Test 0225 crashes with Arnold 6.1"
Test 0225 is testing the switcher shaders that are using the array parameters.
It's only the RGBA shader (Color4_Array_Switch) that crashes and only when there's another shader plugged in to an array item other than the first one.
Here's the error I get:
`ERROR : [arnold] AiArrayGetRGBAFunc: out-of-range error (1 out of 0) in shaders\src\Color4Switch.cpp at line 48`

The other shaders testing Floa

[2021-01-05 11:52] sjannuz commented on #87
Hi @JenusL . I can't verify in Softimage at the moment. Do you mind trying to export an ascii .ass and check if kick fails too ? In case, let me have the file please.

[2021-01-05 14:38] JenusL commented on #87
Was preparing a .ass for you and I noticed som oddities in it so I actually think it's an SItoA issue after all. Let me explain.
When exporting the Array, if the item has a shader connected, the shader value itself isn't exported, leaving that array item value unset.
[code]
There you can se the second array item is `0 0 -nan 0` because that array item is just skipped because the shader connection

[2021-01-05 14:53] JenusL commented on #86
So I tested how it works in MAXtoA and there hidden lights are not exported at all. So I'm gonna do that here as well.

[2021-01-20 22:37] #87 closed, assigned to nobody

[2021-01-20 22:37] #86 closed, assigned to nobody

[2021-05-24 21:13] JenusL opened #88 "Support Arnold 6.2"
Not so many new features but I'm running it right now and the stability alone is worth it.
6.1 crashed a lot for me but 6.2.1 hasn't crashed a single time yet.

Other than stability I guess there should be some more work on imagers. The Optix denoiser should be changed out to a imager for example.

[2021-07-29 17:27] DiegoSJuan commented on #88
Hello,  I'm trying to build but I keep getting a host of errors on the include file.. Will 6.2 be available soon or is there something I'm doing wrong? I'm not the best at C++ so can you help please.

Building      : SItoA 6.2.0
Arnold SDK    : 6.2.0.1
Softimage SDK : 13000
Mode          : debug
Host OS       : windows
SCons         : 3.1.2
Python 2.7. 9

[2021-08-02 22:20] JenusL commented on #88
Hi @DiegoSJuan
The only thing that didn't work with Arnold 6.2.1 was the patching of the AdClmHub file because it was a new version. I updated the build script to support the new version. You can check out my branch here: https://github.com/JenusL/sitoa/tree/feat/a6.2.1
If you still have issues, you need to post the errors you get so that I have any idea what the error is.

[2021-08-02 22:30] JenusL commented on #88
@DiegoSJuan Please post the contents of your custom.py as well.

[2021-08-03 18:55] DiegoSJuan commented on #88
Thanks Jens! Didn't see the branch,  got it to work now, everything is good, no errors and Yes, very very stable.
Which leaves me with one question What will it take to get GPU working?

[2021-08-03 19:20] JenusL commented on #88
GPU has been working for a long time. You just change to GPU in the Arnold render settings. The first time you render it will take a long time to start because all shaders will compile.

[2021-08-03 19:34] DiegoSJuan commented on #88
Oh... Yes it works but it doesn't load any external texture even the noicon...
I get errors like... "Failed to compile shader for source" node etc

[2021-08-03 19:38] JenusL commented on #88
Ah yes the Softimage shaders are not supported on GPU. You need to use only Arnold shader. So for a textures you need to use the Arnold image shader.
This is something that I wish I had time to fix.

[2021-08-03 19:48] DiegoSJuan commented on #88
Oh... Thanks! And Works quite nicely is there a downside to using this?  And.. Sorry of the noobish questions 😁

[2021-08-03 20:40] JenusL commented on #88
Only downside is lack of viewport feedback I guess :)

[2021-08-06 13:47] DiegoSJuan commented on #88
Hello again... How do I use The shader Imagers... Even the optix imager?

[2021-08-07 23:32] JenusL commented on #88
Use the dummy shader `imager` to connect `imager_*` nodes as Pass and/or Camera LensShaders. Will only use one LensShader slot but you can connect several imagers together. It also properly handles the Pass OverrideCameraLensShaders option.

[2021-10-19 18:16] JenusL opened #89 "Support Arnold 7"
Not so much new stuff but quite a few things have changed... especially color managers and denoising.

[2021-10-20 17:12] maxol1 commented on #89
hey i am not that good at compiling, is it possible to have the .addon compiled for Softimage 2015?
thanks ;)

[2021-10-20 19:34] JenusL commented on #89
Yeah I'll probably release an addon when it's ready.

[2021-10-25 03:46] IRONIC3D commented on #89
Thanks @JenusL

[2021-11-14 00:43] JenusL commented on #89
@maxol1 @IRONIC3D Addon for windows can be downloaded from my releases here: https://github.com/JenusL/sitoa/releases

[2021-11-14 11:01] IRONIC3D commented on #89
That's awesome @JenusL , thank you so much for adding those features.

[2021-11-14 11:23] IRONIC3D opened #91 "Arnold Denoiser Noice issues"
Having an issue installing 7.0

[code]

The denoiser doesn't load and I cannot seem to be able to select another denoiser.

[2021-11-14 18:40] JenusL commented on #91
So you get this issue when you install SItoA?
Have you followed the update guide: https://docs.arnoldrenderer.com/display/A5SItoAUG/Updating+SItoA

[2021-11-15 00:18] IRONIC3D commented on #91
Thanks @JenusL , that solved it, I had to remove the preference file as well and that solved the issue.

One other question, I cannot seem to find any of the new imagers for denoising (oidn, optix, or even the tonemap ones) How can I add those? The menu item DLL shaders doesn't include them.

Thanks again

[2021-11-17 17:11] JenusL commented on #91
@IRONIC3D Imagers are added as a Lens Shader to the Camera or Pass. First connect the node named `imager` and then plug any imager_* in to that.
If you add it to the Pass you also need to enable Lens Shaders on the Pass. (default is to only use Camera Lens Shaders).

[2021-11-19 00:56] IRONIC3D commented on #91
Thanks @JenusL , that solved the issue. Appreciate your help.

[2021-11-19 18:38] JenusL commented on #91
No problem.
@sjannuz Could you close this ticket please?

[2021-11-22 11:41] #91 closed, assigned to nobody